
.menu-content-container::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.menu-container {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 100vh;
  overflow: hidden;

  --initialBgColor: rgba(0, 0, 0, 1);;
  --slideBgColor: rgba(0, 0, 0, 0);;

  background-image: linear-gradient(90deg,
    var(--initialBgColor) 0%,
    var(--initialBgColor) 50%,
    var(--slideBgColor) 50%,
    var(--slideBgColor) 100%
  );
  background-size: 200%;
  transition: background-position 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-container.menu-compact {
  background-color: rgba(0, 0, 0, 0);
  background-position: -100% 100%;

  div[class^="menu-bt-rt-"] {
    background: #000;
  }

  span {
    color: #000;
    opacity: 0;
    pointer-events: none;
  }
}

.menu-container.menu-compact.compact-expand {
  background-color: rgba(0, 0, 0, 1);
  background-position: 0 0;

  div[class^="menu-bt-rt-"] {
    background: #FFF;
  }

  span {
    color: #FFF;
    opacity: 1;
    pointer-events: auto;
  }
}

@-webkit-keyframes bgSlide {
  from { transform: translateX(0); }
  to { transform: translateX(50%); }
}

.menu-container.menu-open {
  display: block;
}

.menu-bg-animate {
  position: fixed;
  z-index: 13;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #b1b1ff;
  pointer-events: none;
}

.menu-bg-animate-1 {
  position: fixed;
  z-index: 14;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #7676ff;
  pointer-events: none;
}
.menu-bg-animate-2 {
  position: fixed;
  z-index: 15;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #3b3bff;
  pointer-events: none;
}
.menu-bg-animate-3 {
  position: fixed;
  z-index: 16;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #0000ff;
  pointer-events: none;
}
.menu-bg-animate-4 {
  position: fixed;
  z-index: 17;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #0000c4;
  pointer-events: none;
}
.menu-bg-animate-5 {
  position: fixed;
  z-index: 18;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #000089;
  pointer-events: none;
}
.menu-bg-animate-6 {
  position: fixed;
  z-index: 19;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #00004e;
  pointer-events: none;
}


.menu-button-wrapper {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 70px;
  height: 100px;
  cursor: pointer;

  span {
    position: absolute;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    color: #FFF;
    opacity: 1;
    pointer-events: auto;
    transform: rotate(90deg) translateX(100%);
  }

  div[class^="menu-bt-rt-"] {
    width: 32px;
    height: 3px;
    background-color: #FFF;
  }

  .menu-bt-rt-1, .menu-bt-rt-2 {
    margin-bottom: 5px;
  }
}

.menu-overlay {
  z-index: 17;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  top: 0;
}

.menu-content-container {
  z-index: 20;
  position: fixed;
  right: 70px;
  top: 0;
  width: calc(85vw - 70px);
  height: 100vh;
  padding: 10vh 10vw 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  opacity: 0;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  .title-wrapper:last-of-type {
    margin-top: 5vh;
  }

  .title {
    // font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-family: 'proxima-nova', 'Helvetica Neue', 'Arial', sans-serif;
    // font-size: 100px;
    font-size: 5.5vw;
    font-weight: 700;
    color: rgba(0, 0, 255, 0);
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;

    -webkit-text-fill-color: rgba(0, 0, 255, 0);
    -webkit-text-stroke: 1.2px #FFF;

    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .title:hover {
    -webkit-text-fill-color: rgba(0, 0, 255, 1);
    color: rgba(0, 0, 255, 1);
    -webkit-text-stroke: 0;

    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .project-name-wrapper {
    margin-bottom: 1vh;
  }

  .project-name {
    display: inline;
    color: #FFF;
    text-decoration: none;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 700;

    border-bottom: 0px solid #0000FF;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .project-name:hover {
    border-bottom: 5px solid #0000FF;
  }

  .project-name.active {
    border-bottom: 5px solid #0000FF;
  }
}

.menu-content-container.hidden {
  z-index: 0;
  display: none;
}

@media only screen and (max-width: 1024px) {
  .menu-content-container .title {
    -webkit-text-stroke: 1px #FFF;
  }

  .project-name {
    font-size: 16px !important;
    line-height: 16px !important;
  }

  .menu-button-wrapper {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .menu-content-container {
    width: calc(100vw - 70px);
    padding: 10vh 15vw 0;
  }
  .title {
    font-size: 50px !important;
  }
  .title-wrapper {
    margin-bottom: 1vh !important;
  }

  .project-name-wrapper {
    margin-bottom: 2vh !important;
  }


  .menu-container.menu-compact {
    span {
      display: none !important;
    }
  }

  .menu-content-container .title {
    -webkit-text-stroke: 0.8px #FFF;
  }

  .menu-button-wrapper {
    margin-top: 32px;
  }
}
