.menu-container {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 100vh;
  overflow: hidden;
  --initialBgColor: rgba(0, 0, 0, 1);
  --slideBgColor: rgba(0, 0, 0, 0);
  background-image: linear-gradient(90deg, var(--initialBgColor) 0%, var(--initialBgColor) 50%, var(--slideBgColor) 50%, var(--slideBgColor) 100%);
  background-size: 200%;
  transition: background-position 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

.menu-container.menu-compact {
  background-color: rgba(0, 0, 0, 0);
  background-position: -100% 100%; }
  .menu-container.menu-compact div[class^="menu-bt-rt-"] {
    background: #000; }
  .menu-container.menu-compact span {
    color: #000;
    opacity: 0;
    pointer-events: none; }

.menu-container.menu-compact.compact-expand {
  background-color: black;
  background-position: 0 0; }
  .menu-container.menu-compact.compact-expand div[class^="menu-bt-rt-"] {
    background: #FFF; }
  .menu-container.menu-compact.compact-expand span {
    color: #FFF;
    opacity: 1;
    pointer-events: auto; }

@-webkit-keyframes bgSlide {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(50%); } }
.menu-container.menu-open {
  display: block; }

.menu-bg-animate {
  position: fixed;
  z-index: 18;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #0000FF;
  pointer-events: none; }

.menu-bg-animate-1 {
  position: fixed;
  z-index: 19;
  width: 0px;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #FFF;
  pointer-events: none; }

.menu-button-wrapper {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 70px; }
  .menu-button-wrapper .menu-bt {
    cursor: pointer; }
  .menu-button-wrapper span {
    position: absolute;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    color: #FFF;
    opacity: 1;
    pointer-events: auto;
    transform: rotate(90deg) translateX(100%); }
  .menu-button-wrapper div[class^="menu-bt-rt-"] {
    width: 32px;
    height: 3px;
    background-color: #FFF; }
  .menu-button-wrapper .menu-bt-rt-1, .menu-button-wrapper .menu-bt-rt-2 {
    margin-bottom: 5px; }

.menu-overlay {
  z-index: 17;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  top: 0; }

.menu-content-container {
  z-index: 20;
  position: fixed;
  right: 70px;
  top: 0;
  width: calc(85vw - 70px);
  height: 100vh;
  padding: 10vh 10vw 0;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  opacity: 0; }
  .menu-content-container .title-wrapper:last-of-type {
    margin-top: 5vh; }
  .menu-content-container .title {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 5.5vw;
    font-weight: 700;
    color: #FFF;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #FFF; }
  .menu-content-container .title:hover {
    -webkit-text-fill-color: #0000FF;
    color: #0000FF;
    -webkit-text-stroke: 0; }
  .menu-content-container .project-name-wrapper {
    margin-bottom: 1vh; }
  .menu-content-container .project-name {
    display: inline;
    color: #FFF;
    text-decoration: none;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 0px solid #0000FF;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .menu-content-container .project-name:hover {
    border-bottom: 5px solid #0000FF; }
  .menu-content-container .project-name.active {
    border-bottom: 5px solid #0000FF; }

.menu-content-container.hidden {
  z-index: 0;
  display: none; }

@media only screen and (max-width: 768px) {
  .menu-content-container {
    width: calc(100vw - 70px); }

  .title {
    font-size: 50px !important; } }

/*# sourceMappingURL=menu.css.map */
