.about-container {
  width: calc(100vw - 70px);
  padding: 0 40px 10vh 40px;
}

.name-container {
  margin-top: 105px;
}

.name {
  display: inline-block;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  // font-size: 200px;
  font-size: 11vw;
  font-weight: 700;
  color: #000;
  margin: 15vh 0 0 0;

  transform: translateX(0);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: transform;
}

.name.name-mouse-over {
  transform: translateX(-10px);
}

.bio {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;

  opacity: 0;
  transform: translateY(30%);

  width: 50%;
  line-height: calc(1.6 * 20px);

  span {
    font-family: 'Major Mono Display', monospace;
  }
}

.contact-wrapper {
  margin-top: 10vh;
  opacity: 0;
  transform: translateY(30%);

  .contact {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.5vh;
  }

  p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1vh;
  }

  a {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-right: 40px;
    color: #000;
    text-decoration: none;

    border-bottom: 2px solid #0000FF;
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a:hover {
    color: #FFF;
    background-color: rgba(0, 0, 255, 1);
    // border-bottom: 5px solid #0000FF;
  }
}

.copyright {
  margin-top: 10vh;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  opacity: 0.5;
}



@media only screen and (max-width: 768px) {
  .about-container {
    width: 100vw;
  }

  .bio {
    margin-top: 2vh;
    font-size: 18px;
  }

  .name {
    font-size: 50px !important;
  }

  .contact {
    font-size: 18px !important;
  }

  .contact-wrapper {
    p, a {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .contact-wrapper {
    p {
      margin-bottom: 2vh !important;
    }
  }

  .another-contact-wrapper {
    div {
      display: flex;
      flex-direction: column;

      a {
        align-self: flex-start;
        display: inline-block;
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}
