.about-container {
  width: calc(100vw - 70px - 80px);
  padding: 0 40px 5vh 40px;
}

.name-container {
  margin-top: 105px;
}

.name {
  display: inline-block;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 200px;
  font-weight: 700;
  color: #000;
  margin: 15vh 0 0 0;

  transform: translateX(0);
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: transform;
}

.name.name-mouse-over {
  transform: translateX(-10px);
}

.bio {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #000;

  opacity: 0;
  transform: translateY(30%);
}

.contact-wrapper {
  margin-top: 10vh;
  opacity: 0;
  transform: translateY(30%);

  .contact {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
  }

  a {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-right: 40px;
    color: #000;
    text-decoration: none;

    border-bottom: 2px solid #0000FF;
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a:hover {
    color: #FFF;
    background-color: rgba(0, 0, 255, 1);
    // border-bottom: 5px solid #0000FF;
  }
}

.copyright {
  margin-top: 10vh;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  opacity: 0.5;
}
