.work-detail-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 20vh; }

.introduction-container.detail-page {
  position: absolute !important; }
  .introduction-container.detail-page .title-description {
    font-size: 48px;
    font-weight: 700; }
  .introduction-container.detail-page .name {
    font-size: 100px; }

.thumbnail-wrapper {
  align-self: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row; }
  .thumbnail-wrapper .objective-wrapper {
    align-self: flex-end;
    width: 20%;
    padding: 0 40px 7vh; }
    .thumbnail-wrapper .objective-wrapper p {
      margin: 0;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      color: #000; }
  .thumbnail-wrapper .img-wrapper {
    align-self: center;
    position: relative;
    width: 80%;
    height: 100%; }
  .thumbnail-wrapper .thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin: auto; }
  .thumbnail-wrapper .thumbnail-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin: auto; }

.content-0 {
  margin: 10vh 0 0 0 !important; }

div[class^="content-"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px;
  margin: 20vh 0 0 0;
  --pSize: 20px;
  --pObjSize: 30px;
  --pDescSize: 15px;
  --pQuoteSize: 50px; }
  div[class^="content-"] h2 {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #000;
    margin: 0 0 5vh 0;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #000; }
  div[class^="content-"] .data-wrapper {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column; }
  div[class^="content-"] .row-customize {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px; }
  div[class^="content-"] .col-customize {
    padding-left: 10px;
    padding-right: 10px; }
  div[class^="content-"] .dark-mode {
    background-color: #000; }
  div[class^="content-"] p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    font-weight: 400;
    color: #000;
    margin: 0;
    line-height: calc(var(--pSize) * 1.6);
    white-space: pre-line; }
  div[class^="content-"] .text-objective {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500; }
  div[class^="content-"] .overview-dl {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    line-height: calc(var(--pSize) * 1.6);
    white-space: pre-line; }
    div[class^="content-"] .overview-dl dt {
      color: #999;
      font-weight: 400;
      text-transform: capitalize; }
    div[class^="content-"] .overview-dl dd {
      color: #000;
      font-weight: 500;
      margin: 0; }
  div[class^="content-"] .overview-p {
    margin-top: 2vh; }
  div[class^="content-"] .image-single {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  div[class^="content-"] .research-quote {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500; }
  div[class^="content-"] .title-sm {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1vh; }
  div[class^="content-"] .desc-p {
    font-size: var(--pDescSize);
    line-height: calc(var(--pDescSize) * 1.6);
    color: #999; }
  div[class^="content-"] .point-p {
    font-weight: 300;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 1vh; }
  div[class^="content-"] .quote-p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pQuoteSize);
    line-height: calc(var(--pQuoteSize) * 1.3);
    font-weight: 700;
    text-transform: uppercase; }
  div[class^="content-"] .row-customize.focused-research {
    margin-top: 10vh; }
  div[class^="content-"] .col-align-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  div[class^="content-"] .col-apark-research {
    padding-top: 3vh;
    padding-bottom: 10vh; }
  div[class^="content-"] .image-single.outline {
    border: 1px solid #000; }
  div[class^="content-"] p.analyze {
    margin-bottom: 3vh; }
  div[class^="content-"] .down-arrow {
    text-align: center;
    font-size: 50px;
    margin-top: 2vh;
    margin-bottom: 3vh; }
  div[class^="content-"] .apark-wireframe {
    border: 1px solid #000;
    padding: 3vh;
    background-color: #fafafa; }
    div[class^="content-"] .apark-wireframe .image-single {
      border: 0; }
  div[class^="content-"] .image-single.full-width {
    height: auto; }
  div[class^="content-"] img[class^="wireframe-image"] {
    align-self: center;
    width: 260px;
    object-fit: cover; }
  div[class^="content-"] .flex-wrapper {
    margin-top: 10vh; }
    div[class^="content-"] .flex-wrapper .flex-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      padding: 15vh 0; }
    div[class^="content-"] .flex-wrapper .flex-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1 0 33%;
      margin-bottom: 5vh; }
    div[class^="content-"] .flex-wrapper .flex-column:nth-child(2n) {
      margin-top: 15%; }
    div[class^="content-"] .flex-wrapper .flex-column:nth-child(3n) {
      margin-top: -10%; }
    div[class^="content-"] .flex-wrapper .flex-column:nth-child(4n) {
      margin-top: 5%; }
    div[class^="content-"] .flex-wrapper .flex-column:last-child {
      margin-bottom: 0; }
  div[class^="content-"] .title-sm.video {
    margin-bottom: 0; }
  div[class^="content-"] .video-p, div[class^="content-"] .jazzin-p {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500; }
  div[class^="content-"] .row-customize.video {
    margin-bottom: 8vh; }
  div[class^="content-"] .row-customize.video:last-of-type {
    margin-bottom: 0; }
  div[class^="content-"] .video-wrapper {
    position: relative;
    padding: 47.86% 0 0 0;
    margin: 2vh 0;
    border: 1px solid #000; }
    div[class^="content-"] .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  div[class^="content-"] .jazzin-image-wrapper {
    background-color: #FFF;
    width: 70%;
    margin: 2.5vh 0; }
  div[class^="content-"] .jazzin-image-wrapper:nth-of-type(2n) {
    margin-left: auto;
    margin-right: 0; }
  div[class^="content-"] .jazzin-image-wrapper:first-of-type {
    margin-top: 0; }
  div[class^="content-"] .jazzin-image-wrapper:last-of-type {
    margin-bottom: 0; }
  div[class^="content-"] .jazzin-poster-wrapper {
    margin-top: 2vh;
    margin-bottom: 30vh; }
  div[class^="content-"] .jazzin-poster {
    width: calc(((100vw - 80px)*0.8/2) - 30px);
    margin: 0px 15px; }
  div[class^="content-"] .jazzin-poster:last-of-type {
    margin-top: 35%; }
  div[class^="content-"] .image-single.poster {
    width: 100%;
    height: auto; }
  div[class^="content-"] .social-9-wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 2vh; }
    div[class^="content-"] .social-9-wrapper img[class^="jazzin-social"] {
      width: 100%;
      height: auto;
      object-fit: cover; }
  div[class^="content-"] .social-9-d-wrapper {
    width: 100%;
    text-align: right;
    margin-top: 20vh; }
    div[class^="content-"] .social-9-d-wrapper .d-post-wrapper {
      display: inline-block; }
    div[class^="content-"] .social-9-d-wrapper .line-vertical {
      width: 2px;
      height: 20vh;
      background-color: #000;
      margin-left: 25%; }
    div[class^="content-"] .social-9-d-wrapper img[class^="jazzin-social"] {
      display: inline-block;
      height: 80vh;
      width: auto;
      object-fit: cover; }
  div[class^="content-"] .social-sticker-wrapper {
    margin-top: -20vh;
    display: grid;
    width: 30%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    div[class^="content-"] .social-sticker-wrapper img[class^="jazzin-social"] {
      width: 100%;
      height: auto;
      object-fit: cover; }
  div[class^="content-"] .social-schedule-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-bottom: 20vh; }
    div[class^="content-"] .social-schedule-wrapper img[class^="jazzin-social"] {
      align-self: center;
      width: 100%;
      height: auto;
      object-fit: cover; }
  div[class^="content-"] .jazzin-web-wrapper {
    margin-bottom: 20vh;
    text-align: center; }
    div[class^="content-"] .jazzin-web-wrapper img[class^="jazzin-web"] {
      width: 50%;
      height: auto;
      object-fit: cover;
      margin-bottom: 2vh; }
  div[class^="content-"] .a-link {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    line-height: calc(var(--pSize) * 1.6);
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid #0000FF;
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  div[class^="content-"] .a-link:hover {
    color: #FFF;
    background-color: blue; }
  div[class^="content-"] .a-link-wrapper {
    margin-top: 2vh;
    text-align: center; }
  div[class^="content-"] .website-title {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500; }
  div[class^="content-"] .website-p {
    margin-bottom: 10vh; }
  div[class^="content-"] .image-single.yintech {
    margin-bottom: 10vh; }

/*# sourceMappingURL=work-detail.css.map */
