.work-detail-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  // background-color: rgba(0,0,255, 0.2);
  padding-bottom: 10vh;
}

.introduction-container.detail-page {
  // TODO: remove it, debug only
  display: none;

  .title-description {
    font-size: 48px;
    font-weight: 700;
  }

  .name {
    font-size: 100px;
  }
}

.thumbnail-wrapper {
  align-self: flex-end;
  width: 80%;
  height: 100vh;
  overflow: hidden;

  .img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin: auto;
  }
}

.content-0 {
  margin: 10vh 0 0 0 !important;
}

div[class^="content-"] {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  padding: 0 40px;
  margin: 20vh 0 0 0;

  h2 {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #000;
    margin: 0 0 5vh 0;
  }

  .data-wrapper {
    width: 80%;
    align-self: center;
  }

  --pSize: 20px;;
  --pObjSize: 30px;;

  p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    font-weight: 400;
    color: #000;
    margin: 0;
    line-height: calc(var(--pSize) * 1.6);
    white-space: pre-line;
  }

  .text-objective {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500;
  }
}
