.work-detail-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 20vh;

  // background-color: rgb(250,250,250);
}

.introduction-container.detail-page {
  // position: fixed !important;

  // position: sticky !important;
  // position: -webkit-sticky !important;
  // top: 0;

  & .title-description {
    // font-size: 48px;
    font-size: 2.6vw !important;
    font-weight: 700;
  }

  & .name {
    // font-size: 100px;
    font-size: 5.5vw  !important;
  }
}

.introduction-container.detail-page.hidden {
  display: none;
}

.thumbnail-wrapper {
  align-self: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: row;

  .objective-wrapper {
    align-self: flex-end;
    width: 20%;
    padding: 0 40px 7vh;

    p {
      margin: 0;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      color: #000;
    }
  }

  .grey-background {
    background: rgb(250, 250, 250);
  }

  .img-wrapper {
    align-self: center;
    position: relative;
    width: 80%;
    height: 100%;
  }

  .thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin: auto;
  }

  .thumbnail-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin: auto;
  }
}

.content-0 {
  margin: 10vh 0 0 0 !important;
  padding: 0 40px !important;
}

div[class^="content-"] {
  display: flex;
  flex-direction: column;
  // width: calc(100% - 80px);
  width: 100%;
  padding: 20vh 40px 0;
  // margin: 20vh 0 0 0;

  z-index: 5;
  background-color: #FFF;

  h2 {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #000;
    margin: 0 0 5vh 0;
    text-transform: uppercase;

    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke: 2px #000;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 6;

    text-shadow: 0 0 0 #0000FF;
  }

  .data-wrapper {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
  }

  .row-customize {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
  }

  .col-customize {
    padding-left: 10px;
    padding-right: 10px;
  }

  .dark-mode {
    background-color: #000;
  }

  --pSize: 20px;;
  --pObjSize: 30px;;
  --pDescSize: 15px;;
  --pQuoteSize: 50px;;

  p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    font-weight: 400;
    color: #000;
    margin: 0;
    line-height: calc(var(--pSize) * 1.6);
    white-space: pre-line;
  }

  .text-objective {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500;
  }

  .overview-dl {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    line-height: calc(var(--pSize) * 1.6);
    white-space: pre-line;

    dt {
      color: #999;
      font-weight: 400;
      text-transform: capitalize;
    }

    dd {
      color: #000;
      font-weight: 500;
      margin: 0;
    }
  }

  .overview-p {
    margin-top: 2vh;
  }

  .image-single {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .research-quote {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500;
  }

  .title-sm {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1vh;
  }

  .desc-p {
    font-size: var(--pDescSize);
    line-height: calc(var(--pDescSize) * 1.6);
    color: #999;
  }

  .point-p {
    font-weight: 300;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .quote-p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pQuoteSize);
    line-height: calc(var(--pQuoteSize) * 1.3);
    font-weight: 700;
    text-transform: uppercase;
  }

  .row-customize.focused-image-margin {
    margin-top: 5vh;
  }

  .col-align-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .col-apark-research {
    padding-top: 3vh;
    padding-bottom: 10vh;
  }

  .image-single.outline {
    border: 1px solid #000;
  }

  p.analyze {
    margin-bottom: 3vh;
  }

  .down-arrow {
    text-align: center;
    font-size: 50px;
    margin-top: 2vh;
    margin-bottom: 3vh;
  }

  .apark-wireframe {
    border: 1px solid #000;
    padding: 3vh;
    background-color: rgb(250, 250, 250);

    .image-single {
      border: 0;
    }
  }

  .image-single.full-width {
    height: auto;
  }

  .col-center {
    text-align: center;
  }

  .image-single.screenshot {
    // height: 80vh;
    // width: auto;

    width: auto;
    max-height: 80vh;
    height: auto;
  }
  .focused-image1 {
    margin-top: 100%;
  }
  .focused-image2 {
    margin-top: 20%;
  }
  .focused-image3 {
    margin-top: 50%;
  }
  .focused-image4 {
    margin-top: 50%;
  }

  .flex-wrapper {
    margin-top: 10vh;

    .flex-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      padding: 15vh 0;
    }

    .flex-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1 0 33%;
      margin-bottom: 5vh;
    }

    .flex-column:nth-child(2n) {
      margin-top: 15%;
    }
    .flex-column:nth-child(3n) {
      margin-top: -10%;
    }
    .flex-column:nth-child(4n) {
      margin-top: 5%;
    }
    .flex-column:last-child {
      margin-bottom: 0;
    }
  }

  .title-sm.video {
    margin-bottom: 0;
  }

  .jazzin-p {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500;
  }

  .row-customize.video {
    margin-bottom: 8vh;
  }

  .row-customize.video:last-of-type {
    margin-bottom: 0;
  }

  .video-wrapper {
    position: relative;
    padding: 47.86% 0 0 0;
    margin: 2vh 0;
    border: 1px solid #000;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .title-sm.jazzin {
    margin-top: 20vh;
  }

  .title-sm.jazzin:first-of-type {
    margin-top: 0;
  }

  .row-jazzin-img-margin {
    margin-top: 10vh;
  }

  .social-9-wrapper {
    display: grid;
    // width: 100%;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    & img[class^="jazzin-social"] {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .social-sticker-wrapper {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    & img[class^="jazzin-social"] {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .jazzin-social14 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .a-link {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    line-height: calc(var(--pSize) * 1.6);
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;

    border-bottom: 3px solid #0000FF;
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .a-link:hover {
    color: #FFF;
    background-color: rgba(0, 0, 255, 1);
    // border-bottom: 5px solid #0000FF;
  }

  .a-link-wrapper {
    margin-top: 2vh;
    text-align: center;
  }

  .yintech-row-margin {
    margin-top: 10vh;
  }
}



@media only screen and (max-width: 1024px) {
  .introduction-container.detail-page {
    .name {
      font-size: 11vw !important;
    }

    .title-description {
      font-size: 4vw !important;
      line-height: calc(4vw * 1.3) !important;
    }
  }

  .thumbnail-wrapper {
    flex-direction: column-reverse;

    .grey-background {
      background-color: #FFF;
    }

    .objective-wrapper {
      width: 100% !important;
      padding: 10px 40px 20px;
    }

    .img-wrapper {
      width: 100% !important;
      // height: auto !important;

      height: 100% !important;

      margin-top: auto;
      margin-bottom: auto;

      .thumbnail-img {
        position: relative;
        width: 100%;
        // height: auto;
        height: 100%;
      }
    }
  }

  div[class^="content-"] {
    h2 {
      font-size: 11vw;
      top: 75px;
    }
  }

  .row-customize.video {
    margin-bottom: 5vh !important;

    .video-wrapper {
      margin: 1vh 0;
    }
  }

  .quote-p {
    font-size: 30px !important;
    line-height: 39px !important;
  }

  .yintech-row-margin {
    margin-bottom: 0 !important;
  }

}

@media only screen and (max-width: 991px) {
  .focused-wireframe {
    & img {
      margin: 0 10px;
    }
  }

  .col-md-space {
    margin-bottom: 20px;
  }

  .focused-image0, .focused-image1, .focused-image2, .focused-image3, .focused-image4 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 768px) {
  .objective-wrapper {
    p {
      font-size: 18px !important;
      line-height: 23.4px  !important;
    }
  }

  div[class^="content-"] {
    h2 {
      -webkit-text-stroke: 1.5px #000;
    }

    p:not(.quote-p), .overview-dl, .a-link {
      font-size: 18px !important;
      line-height: 28.8px  !important;
    }

    .desc-p {
      font-size: 15px !important;
      line-height: 19.5px  !important;
    }

    .quote-p {
      font-size: 20px !important;
      line-height: 26px !important;
    }
  }

  .img-wrapper.grey-background.first-img-2 {
    height: auto !important;

    .thumbnail-img {
      transform: rotate(90deg) scale(1.5);
    }
  }

  .title-description {
    max-width: calc(100vw - 80px);
  }
}

@media only screen and (max-width: 767px) {
  .col-apark-research.col-align-bottom {
    padding-bottom: 0 !important;
  }
}
