.work-detail-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 20vh; }

.introduction-container.detail-page .title-description {
  font-size: 2.6vw !important;
  font-weight: 700; }
.introduction-container.detail-page .name {
  font-size: 5.5vw  !important; }

.thumbnail-wrapper {
  align-self: flex-end;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row; }
  .thumbnail-wrapper .objective-wrapper {
    align-self: flex-end;
    width: 20%;
    padding: 0 40px 7vh; }
    .thumbnail-wrapper .objective-wrapper p {
      margin: 0;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      color: #000; }
  .thumbnail-wrapper .grey-background {
    background: #fafafa; }
  .thumbnail-wrapper .img-wrapper {
    align-self: center;
    position: relative;
    width: 80%;
    height: 100%; }
  .thumbnail-wrapper .thumbnail-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin: auto; }
  .thumbnail-wrapper .thumbnail-vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    margin: auto; }

.content-0 {
  margin: 10vh 0 0 0 !important;
  padding: 0 40px !important; }

div[class^="content-"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20vh 40px 0;
  z-index: 5;
  background-color: #FFF;
  --pSize: 20px;
  --pObjSize: 30px;
  --pDescSize: 15px;
  --pQuoteSize: 50px; }
  div[class^="content-"] h2 {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 100px;
    font-weight: 700;
    color: #000;
    margin: 0 0 5vh 0;
    text-transform: uppercase;
    -webkit-text-fill-color: #FFF;
    -webkit-text-stroke: 2px #000;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 6;
    text-shadow: 0 0 0 #0000FF; }
  div[class^="content-"] .data-wrapper {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column; }
  div[class^="content-"] .row-customize {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px; }
  div[class^="content-"] .col-customize {
    padding-left: 10px;
    padding-right: 10px; }
  div[class^="content-"] .dark-mode {
    background-color: #000; }
  div[class^="content-"] p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    font-weight: 400;
    color: #000;
    margin: 0;
    line-height: calc(var(--pSize) * 1.6);
    white-space: pre-line; }
  div[class^="content-"] .text-objective {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500; }
  div[class^="content-"] .overview-dl {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    line-height: calc(var(--pSize) * 1.6);
    white-space: pre-line; }
    div[class^="content-"] .overview-dl dt {
      color: #999;
      font-weight: 400;
      text-transform: capitalize; }
    div[class^="content-"] .overview-dl dd {
      color: #000;
      font-weight: 500;
      margin: 0; }
  div[class^="content-"] .overview-p {
    margin-top: 2vh; }
  div[class^="content-"] .image-single {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  div[class^="content-"] .research-quote {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500; }
  div[class^="content-"] .title-sm {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1vh; }
  div[class^="content-"] .desc-p {
    font-size: var(--pDescSize);
    line-height: calc(var(--pDescSize) * 1.6);
    color: #999; }
  div[class^="content-"] .point-p {
    font-weight: 300;
    font-style: italic;
    margin-top: 1vh;
    margin-bottom: 1vh; }
  div[class^="content-"] .quote-p {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pQuoteSize);
    line-height: calc(var(--pQuoteSize) * 1.3);
    font-weight: 700;
    text-transform: uppercase; }
  div[class^="content-"] .row-customize.focused-image-margin {
    margin-top: 5vh; }
  div[class^="content-"] .col-align-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  div[class^="content-"] .col-apark-research {
    padding-top: 3vh;
    padding-bottom: 10vh; }
  div[class^="content-"] .image-single.outline {
    border: 1px solid #000; }
  div[class^="content-"] p.analyze {
    margin-bottom: 3vh; }
  div[class^="content-"] .down-arrow {
    text-align: center;
    font-size: 50px;
    margin-top: 2vh;
    margin-bottom: 3vh; }
  div[class^="content-"] .apark-wireframe {
    border: 1px solid #000;
    padding: 3vh;
    background-color: #fafafa; }
    div[class^="content-"] .apark-wireframe .image-single {
      border: 0; }
  div[class^="content-"] .image-single.full-width {
    height: auto; }
  div[class^="content-"] .col-center {
    text-align: center; }
  div[class^="content-"] .image-single.screenshot {
    width: auto;
    height: 80vh; }
  div[class^="content-"] .focused-image1 {
    margin-top: 100%; }
  div[class^="content-"] .focused-image2 {
    margin-top: 20%; }
  div[class^="content-"] .focused-image3 {
    margin-top: 50%; }
  div[class^="content-"] .focused-image4 {
    margin-top: 50%; }
  div[class^="content-"] .flex-wrapper {
    margin-top: 10vh; }
    div[class^="content-"] .flex-wrapper .flex-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      padding: 15vh 0; }
    div[class^="content-"] .flex-wrapper .flex-column {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1 0 33%;
      margin-bottom: 5vh; }
    div[class^="content-"] .flex-wrapper .flex-column:nth-child(2n) {
      margin-top: 15%; }
    div[class^="content-"] .flex-wrapper .flex-column:nth-child(3n) {
      margin-top: -10%; }
    div[class^="content-"] .flex-wrapper .flex-column:nth-child(4n) {
      margin-top: 5%; }
    div[class^="content-"] .flex-wrapper .flex-column:last-child {
      margin-bottom: 0; }
  div[class^="content-"] .title-sm.video {
    margin-bottom: 0; }
  div[class^="content-"] .jazzin-p {
    font-size: var(--pObjSize);
    line-height: calc(var(--pObjSize) * 1.6);
    font-weight: 500; }
  div[class^="content-"] .row-customize.video {
    margin-bottom: 8vh; }
  div[class^="content-"] .row-customize.video:last-of-type {
    margin-bottom: 0; }
  div[class^="content-"] .video-wrapper {
    position: relative;
    padding: 47.86% 0 0 0;
    margin: 2vh 0;
    border: 1px solid #000; }
    div[class^="content-"] .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  div[class^="content-"] .title-sm.jazzin {
    margin-top: 20vh; }
  div[class^="content-"] .title-sm.jazzin:first-of-type {
    margin-top: 0; }
  div[class^="content-"] .row-jazzin-img-margin {
    margin-top: 10vh; }
  div[class^="content-"] .social-9-wrapper {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
    div[class^="content-"] .social-9-wrapper img[class^="jazzin-social"] {
      width: 100%;
      height: auto;
      object-fit: cover; }
  div[class^="content-"] .social-sticker-wrapper {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    div[class^="content-"] .social-sticker-wrapper img[class^="jazzin-social"] {
      width: 100%;
      height: auto;
      object-fit: cover; }
  div[class^="content-"] .jazzin-social14 {
    width: 100%;
    height: auto;
    object-fit: cover; }
  div[class^="content-"] .a-link {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: var(--pSize);
    line-height: calc(var(--pSize) * 1.6);
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid #0000FF;
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }
  div[class^="content-"] .a-link:hover {
    color: #FFF;
    background-color: blue; }
  div[class^="content-"] .a-link-wrapper {
    margin-top: 2vh;
    text-align: center; }
  div[class^="content-"] .yintech-row-margin {
    margin-top: 10vh; }

@media only screen and (max-width: 1024px) {
  .introduction-container.detail-page .name {
    font-size: 11vw !important; }
  .introduction-container.detail-page .title-description {
    font-size: 4vw !important;
    line-height: calc(4vw * 1.3) !important; }

  .thumbnail-wrapper {
    flex-direction: column-reverse; }
    .thumbnail-wrapper .grey-background {
      background-color: #FFF; }
    .thumbnail-wrapper .objective-wrapper {
      width: 100% !important;
      padding: 10px 40px 20px; }
    .thumbnail-wrapper .img-wrapper {
      width: 100% !important;
      height: auto !important;
      margin-top: auto;
      margin-bottom: auto; }
      .thumbnail-wrapper .img-wrapper .thumbnail-img {
        position: relative;
        width: 100%;
        height: auto; }

  div[class^="content-"] h2 {
    font-size: 11vw; }

  .row-customize.video {
    margin-bottom: 5vh !important; }
    .row-customize.video .video-wrapper {
      margin: 1vh 0; } }
@media only screen and (max-width: 768px) {
  .objective-wrapper p {
    font-size: 18px !important;
    line-height: 23.4px  !important; }

  div[class^="content-"] h2 {
    -webkit-text-stroke: 1.5px #000; }
  div[class^="content-"] p, div[class^="content-"] .overview-dl {
    font-size: 18px !important;
    line-height: 28.8px  !important; }
  div[class^="content-"] .desc-p {
    font-size: 15px !important;
    line-height: 19.5px  !important; }

  .col-md-space {
    margin-bottom: 20px; } }

/*# sourceMappingURL=work-detail.css.map */
