.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 70px);
}

.introduction-container {
  z-index: 4;
  width: calc(100vw - 70px);
  margin-top: 105px;
  position: fixed !important;
  // background-color: rgba(0,0,255,0.5);

  .title-description {
    position: absolute;
    margin: 0 0 0 40px;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0,0,0,0.2);
    // opacity: 0.2;
  }

  .name {
    display: inline-block;
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 200px;
    font-weight: 700;
    color: #000;
    margin: 15vh 40px 0;

    border-bottom: 0px solid #0000FF;
    transform: translateX(0);
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-property: border-bottom, transform;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .name.name-mouse-over {
    border-bottom: 15px solid #0000FF;
    transform: translateX(-10px);
    cursor: pointer !important;
  }

  .skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 40px 0 40px;
    opacity: 1;
    transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      display: inline-block;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
      font-size: 42px;
      font-weight: 400;
      color: #000;
      margin: 0;

      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }
  }

  .skill-wrapper.name-mouse-over {
    opacity: 0.2 !important;
  }
}

.thumbnail-feed {
  display: flex;
  flex-direction: column;
  align-items: center;

  .feed-placeholder {
    padding-bottom: 8vh;
    // background-color: rgba(0,0,255,0.5);
  }
}

.thumbnail-container {
  z-index: 5;
  width: 80%;
  height: 63vh;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(0);

  // margin-top: 8vh;
  // margin-bottom: 100px;

  img[class^="thumbnail-img-"] {
    width: 100%;
    object-fit: cover;
    filter: saturate(0%);
    opacity: 0.2;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .thumbnail-img-0 {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

    transform: translateY(5vh);
    // transform: translateY(-18%);
  }

  .thumbnail-img-1 {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

    transform: translateY(10%);
  }

  img[class^="thumbnail-img-"].mouse-over {
    filter: saturate(100%);
    opacity: 0.7;
  }

  .thumbnail-vid {
    width: 100%;
    height: auto;
    // filter: saturate(0%);
    opacity: 0.2;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  .thumbnail-vid.mouse-over {
    // filter: saturate(100%);
    opacity: 0.7;
  }
}

.thumbnail-container.mouse-over {
  transform: translateX(-40px);
}

.open-bar-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
  top: 0;
  right: 0;
  background-color: #000000;
  opacity: 1;

  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(60px);

  span {
     font-family: 'Helvetica Neue', 'Arial', sans-serif;
     font-size: 18px;
     font-weight: 400;
     color: #FFF;
     white-space: nowrap;

     transform: rotate(90deg);
     transform-origin: 50% 50%;
  }
}

.open-bar-container.mouse-over {
  transform: translateX(0px);
}

// .thumbnail-container.page-enter {
//   z-index: 5;
// }
