.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 70px);
}

.introduction-container {
  z-index: 4;
  width: calc(100vw - 70px);
  margin-top: 105px;
  position: fixed;
  // background-color: rgba(0,0,255,0.5);

  .name {
    font-family: 'Founders Grotesk Test' ,'Helvetica Neue', sans-serif;
    font-size: 200px;
    font-weight: 700;
    color: #000;
    margin: 15vh 40px 0;
  }

  .skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 40px 0 40px;

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      display: inline-block;
      font-family: 'Founders Grotesk Test' ,'Helvetica Neue', sans-serif;
      font-size: 42px;
      font-weight: 400;
      color: #000;
      margin: 0;
    }
  }
}

.thumbnail-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-container {
  width: 80%;
  height: 63vh;
  overflow: hidden;
  margin-top: 8vh;
  margin-bottom: 100px;

  img {
    transform: translateY(-18%);
    width: 100%;
    object-fit: cover;
    filter: saturate(0%);
    opacity: 0.2;
  }
}
